<div class="hero">
    <img src="/images/vehicles/delorean.jpg" alt="Car Image">
    <div class="hero-card">
        <h3>DMC Delorean</h3>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dicel</p>
        <img src="/images/site/own_today.png" alt="Own Today Button">
    </div>
</div>