<div class="upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="upgrades-grid">
        <div class="upgrade-card-wrapper">
          <div class="upgrade-cards">
            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
          </div>
          <a href="/">Flux Capacitor</a>
        </div>
      
        <div class="upgrade-card-wrapper">
          <div class="upgrade-cards">
            <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
          </div>
          <a href="/">Flame Decals</a>
        </div>
      
        <div class="upgrade-card-wrapper">
          <div class="upgrade-cards">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
          </div>
          <a href="/">Bumper Stickers</a>
        </div>
      
        <div class="upgrade-card-wrapper">
          <div class="upgrade-cards">
            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
          </div>
          <a href="/">Hub Caps</a>
        </div>
      </div>
</div>